body {
  background: black; }
  body main {
    flex: 1;
    overflow: auto;
    /* to scroll just the "main" div */ }
    body main .boardList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      body main .boardList .boards {
        flex: 0 0 80%; }
        body main .boardList .boards a {
          text-decoration: none;
          color: #d7dadc; }
        body main .boardList .boards .boardWrap {
          flex: 0 0 100%;
          background-color: #1a1a1b;
          margin: 1rem;
          padding: 1rem;
          border-radius: 5px;
          transition: 0.1s all ease-in-out;
          border: 2px solid transparent; }
          body main .boardList .boards .boardWrap:hover {
            border: 2px solid #d7dadc;
            border-radius: 5px; }
          body main .boardList .boards .boardWrap .board {
            color: #d7dadc; }
            body main .boardList .boards .boardWrap .board small {
              color: #818384;
              padding: 0 0.5rem; }
            body main .boardList .boards .boardWrap .board h1 {
              padding: 0.5rem; }
            body main .boardList .boards .boardWrap .board p {
              padding: 0.5rem;
              display: flex; }
            body main .boardList .boards .boardWrap .board .social {
              display: flex;
              margin-top: 0.5rem; }
              body main .boardList .boards .boardWrap .board .social a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #818384;
                border-radius: 5px;
                padding: 0.5rem;
                transition: all 0.1s ease-in-out; }
                body main .boardList .boards .boardWrap .board .social a:hover {
                  background: #343536; }
                body main .boardList .boards .boardWrap .board .social a:first-of-type {
                  display: none; }
                body main .boardList .boards .boardWrap .board .social a:nth-of-type(3), body main .boardList .boards .boardWrap .board .social a:nth-of-type(4), body main .boardList .boards .boardWrap .board .social a:last-of-type {
                  margin-left: 1rem; }
                body main .boardList .boards .boardWrap .board .social a i {
                  padding-right: 5px; }
        body main .boardList .boards .reply {
          display: none;
          flex-wrap: wrap;
          justify-content: flex-end; }
          body main .boardList .boards .reply #replyBoard {
            width: 100%;
            flex: 0 0 100%;
            background: transparent;
            resize: none;
            outline: none;
            border: 1px solid #818384;
            border-radius: 5px;
            padding: 1rem 0.5rem;
            margin-top: 1rem;
            color: #d7dadc; }
            body main .boardList .boards .reply #replyBoard:focus {
              border: 1px solid #ebeced; }
          body main .boardList .boards .reply input[type=button] {
            border: 0;
            border-radius: 5px;
            outline: none;
            margin: 1rem 0.1rem;
            padding: 0.5rem 1.5rem;
            cursor: not-allowed;
            color: #d7dadc; }
            body main .boardList .boards .reply input[type=button]:first-of-type {
              background: transparent;
              cursor: pointer; }
        body main .boardList .boards .editArea {
          display: none;
          flex-wrap: wrap;
          justify-content: flex-end; }
          body main .boardList .boards .editArea #editContent {
            width: 100%;
            flex: 0 0 100%;
            background: transparent;
            resize: none;
            outline: none;
            border: 1px solid #818384;
            border-radius: 5px;
            padding: 1rem 0.5rem;
            margin-top: 1rem;
            color: #d7dadc; }
            body main .boardList .boards .editArea #editContent:focus {
              border: 1px solid #ebeced; }
          body main .boardList .boards .editArea input[type=button] {
            border: 0;
            border-radius: 5px;
            outline: none;
            margin: 1rem 0.1rem;
            padding: 0.5rem 1.5rem;
            cursor: not-allowed;
            color: #d7dadc; }
            body main .boardList .boards .editArea input[type=button]:first-of-type {
              background: transparent;
              cursor: pointer; }
    body main .page-load-status {
      display: none; }
      body main .page-load-status .loader-ellips {
        font-size: 20px;
        position: relative;
        width: 4em;
        height: 1em;
        margin: 10px auto;
        color: white; }
        body main .page-load-status .loader-ellips .loader-ellips__dot {
          display: block;
          width: 1em;
          height: 1em;
          border-radius: 0.5em;
          background: #555;
          position: absolute;
          animation-duration: 0.5s;
          animation-timing-function: ease;
          animation-iteration-count: infinite; }
@keyframes reveal {
  from {
    -webkit-transform: scale(0.001); }
  to {
    -webkit-transform: scale(1); } }
@keyframes slide {
  to {
    -webkit-transform: translateX(1.5em); } }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(1), body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(2) {
            left: 0; }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(3) {
            left: 1.5em; }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(4) {
            left: 3em; }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(1) {
            animation-name: reveal; }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(2), body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(3) {
            animation-name: slide; }
          body main .page-load-status .loader-ellips .loader-ellips__dot:nth-child(4) {
            animation-name: reveal;
            animation-direction: reverse; }

/*# sourceMappingURL=boardList.css.map */
