$black: black;
$lightGrey: #efefef;
$pink: pink;
$navOrange: #FFCE85;
$error: red;
$noError: cadetblue;
$transparent: transparent;
$textColor: rgb(215, 218, 220);
$boardBorder: rgb(235, 236, 237);
$buttonBackgroundColor: rgb(235, 236, 237);
$smallColor: rgb(129, 131, 132);
$boardBackground: rgb(26, 26, 27);